body {
	font-family: monospace;
	color: #333;
	background-color: #fff;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

img, h1, h2 {
	vertical-align: middle;
}

table thead td {
	font-weight: bold;
}

table td {
	padding: 0 0.4em;
}

#content table tr:hover td {
	background-color: #eee;
}

h1, h2, h3, h4, h5, h6 {
	font-size: 1em;
}

.desc {
	font-size: 100%;
	color: #777;
}

hr {
	color: #777;
	background-color: #777;
	border: 0;
	border-top: 1px solid #777;
}
