body {
	font-family: monospace;
	color: #000;
	background-color: #fff;
}

h1, h2, h3, h4, h5, h6 {
	font-size: 1em;
	margin: 0;
}

img, h1, h2 {
	vertical-align: middle;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

#blob a {
	color: #777;
}

#blob a:hover {
	color: blue;
	text-decoration: none;
}

table thead td {
	font-weight: bold;
}

table td {
	padding: 0 0.4em;
}

#content table td {
	white-space: nowrap;
	vertical-align: top;
}

#branches tr:hover td,
#tags tr:hover td,
#index tr:hover td,
#log tr:hover td,
#files tr:hover td {
	background-color: #eee;
}

#index tr td:nth-child(2),
#tags tr td:nth-child(3),
#branches tr td:nth-child(3),
#log tr td:nth-child(2) {
	white-space: normal;
}

td.num {
	text-align: right;
}

.desc {
	color: #777;
}

hr {
	border: 0;
	border-top: 1px solid #777;
}

pre {
	font-family: monospace;
}

pre a.h {
	color: #00a;
}

span.i,
pre a.i {
	color: #070;
}

span.d,
pre a.d {
	color: #e00;
}

pre a.h:hover,
pre a.i:hover,
pre a.d:hover {
	text-decoration: none;
}
