body {
	font-family: monospace;
	color: #000;
	background-color: #fff;
}

h1, h2, h3, h4, h5, h6 {
	font-size: 1em;
	margin: 0;
}

img, h1, h2 {
	vertical-align: middle;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

#blob a {
	color: #777;
}

#blob a:hover {
	color: blue;
	text-decoration: none;
}

table thead td {
	font-weight: bold;
}

table td {
	padding: 0 0.4em;
}

#index tr:hover td, #log tr:hover td, #files tr:hover td {
	background-color: #eee;
}

td.num {
	text-align: right;
}

.desc {
	color: #777;
}

hr {
	border: 0;
	border-top: 1px solid #777;
}

pre {
	font-family: monospace;
}

pre .h {
	color: darkcyan;
}

pre a.i {
	color: green;
}

pre a.d {
	color: red;
}

pre a.i:hover, pre a.d:hover {
	text-decoration: none;
}
